AuthUserFile /wamp/www/Radiology-Support-Data-Access-Interface/.htpasswd

AuthType Basic
AuthName "Test"
Require valid-user

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteBase /wamp/www/Radiology-Support-Data-Access-Interface/
</IfModule>