/* Common CSS styles across web pages */
body {
    background-color: #595959;
}

p {
    color: #ffffff;
    font-size: 16px;
}

.shadow {
    -webkit-box-shadow: 0 4px 2px -2px #808080;
    -moz-box-shadow: 0 4px 2px -2px #808080;
    box-shadow: 0 4px 2px -2px #000000;
	background-color: #707070;
	padding: 12px;
}

/*The boxes*/
.box {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: gray;
	border-style: solid;
	border-width: medium;
}

/*The box background when viewed*/
.viewing {
    background-color: '#404749';
}

.header-footer{
	min-width: 1260px;
}

.container{
	min-width: 1220px;
	min-height: 800px;
	padding-left: 20px;
	padding-right: 20px;
}

.text-18{
	font-size: 18px;
	color: #d3d3d3d;
}

.result-title{
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}