/* Common CSS styles across web pages */
body {
    background-color: #595959;
}
.shadow {
    -webkit-box-shadow: 0 4px 2px -2px #808080;
    -moz-box-shadow: 0 4px 2px -2px #808080;
    box-shadow: 0 4px 2px -2px #000000;
	background-color:#707070;
	padding:12px;
}
/*The boxes*/
.box {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: gray;
	border-style:solid;
	border-width:medium;
}

/*The box background when viewed*/
.viewing {
    background-color: '#404749';
}

.container{
	min-width: 1444px;
	min-height: 722px;
	padding: 22px;
}