/* Common CSS styles across web pages */
body {
    background-color:gray;
}
.shadow {
    -webkit-box-shadow: 0 4px 2px -2px #808080;
    -moz-box-shadow: 0 4px 2px -2px #808080;
    box-shadow: 0 4px 2px -2px #000000;
}
/*The boxes*/
.box {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#FFF;
	border-style:solid;
	border-width:medium;
}
/*The box background when viewed*/
.viewing {
    background: gray;
}